// imports

@import "variables.less";
@import "buttons.less";
@import "card-movie.less";
@import "modal-movie.less";
@import "fixed-panel-menu.less";
@import "navbar.less";

body {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: @bg-color;
    font-family: 'Montserrat', sans-serif;

	ul, ol, p, h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
    } 
}

.movies-wrapper {
    position: relative;
    overflow: hidden;

    .img-absolute {
        position: absolute;
        right: -250px;
        top: 3%;
        width: 700px;
        opacity: 0.03;
    }
}

.movies-heading {
    padding: 200px 0 180px 0;
    display: flex;
    align-items: center;

    .heading {
        padding: 0 7%;
        width: 100%;

        h1,p {
            color: #fff;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 17px;
            letter-spacing: 1px;
        }
    }
}

.filters {
    display: flex;
    align-items: center;

    h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }

    .btn-border {
        margin: 0 20px;
        text-transform: capitalize;
    }

    .dropdown-menu {
        border-radius: 0;
        .dropdown-item {
            color: #000;
            padding: 10px;
            font-weight: 500;
            &:hover {
                background-color: #ddd;
            }
        }
    }
}

.card-wrapper {
    padding: 0 5%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

